body {
    background-color: silver;
}
#test {
    /* width: 650px; */
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;

}
#word {
    font-size: 40px;
    /* font-weight: bold; */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -60px;
    font-family: 'Trebuchet MS';
}
#unknown {
    font-size: 70px;
    /* font-weight: bold; */
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
#guesses {
    text-align: center;
    margin-top: 80px;
    font-size: 20px;
}

#refresh{
    font-size: large;
    background-color: orange;
    color: black;
    border: none;
    padding: 20px 35px;
    text-align: left;
    display: inline-block;
    font-size: 20px;
    position: relative;
    top: 50%;
    left: 43%;
}

@media only screen and (max-width:229px) {
    body, #unknown, #guesses, #test {
    width: 100%;
    }
}